<div class="map-container">
    <img src="../../assets/images/pattern-bg.png" class="bg-pattern" alt="">
    <div class="container">
        <h1 class="title">IP Address Tracker </h1>
        <div class="search-container">
            <input type="text" class="search-box" placeholder="Search for any  IP address or domain" #search >
            <button class="search-button" (click)="searchAddress(search.value)"><img src="../../../assets/images/icon-arrow.svg" alt="" ></button>
        </div>

    </div>
    <div class="container-info">
        <div class="box-info-border">
            <div class="info-title">IP ADDRESS</div>
            <div class="info-description">{{geoLocate.ip}}</div>
        </div>
        <div class="box-info-border">
            <div class="info-title">LOCATION</div>
            <div class="info-description">{{geoLocate.location.region}}{{geoLocate.location.region?',':''}}{{geoLocate.location.country}}</div>
        </div>
        <div class="box-info-border">
            <div class="info-title">TIMEZONE</div>
            <div class="info-description">{{geoLocate.location.timezone}}</div>
        </div>
        <div class="box-info">
            <div class="info-title">ISP</div>
            <div class="info-description">{{geoLocate.isp}}</div>
        </div>
      
    </div>


        <div id="map"></div>
</div>